# RHEL 8 vars 
iso_path     = "iso/rhel-8.10-x86_64-dvd.iso"
iso_checksum = "sha256:<paste_checksum_here>"
os_version   = "8"

# If firmware is changed to bios from efi, the boot_command must also be changed
firmware     = "efi"
memory       = "4096"
cpus         = "2"

# RHEL 8 uses the shared default: ks.cfg 
ks_file = "ks.cfg" 

# Optional: Uncomment if firmware changed to bios.
#boot_command_override = [
#    "<tab>",
#    " inst.ks=http://{{ .HTTPIP }}:{{ .HTTPPort }}/ks.cfg inst.text",
#    "<enter>"
#]