# RHEL 10 vars
iso_path     = "iso/rhel-10.0-x86_64-dvd.iso"
iso_checksum = "sha256:<paste_checksum_here>"
os_version   = "10"

# If firmware is changed to bios from efi, the boot_command must also be changed
firmware     = "efi"
memory       = "4096"
cpus         = "2"

# RHEL 10 uses a newer kickstart 
ks_file = "ks10.cfg" 

# Optional: only if GRUB layout differs and you need a tweak. Uncomment if firmware changed to bios.
#boot_command_override = [
#  "e<wait>",
#  "<down><down><",
#  "<end> inst.ks=http://{{ .HTTPIP }}:{{ .HTTPPort }}/ks10.cfg inst.text",
#  "<wait>",
#  "<f10>"
#]